*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/static/img/health.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color:black;
    user-select: none;
}
.navigation .vc{
    position: relative;
    font-size: 1.1em;
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .vc::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:black;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;

}
.navigation .vc:hover::after{
    transform-origin: left;
    transform: scale(1);
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    border: 2px solid black;
    background: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    text-align: center;
    

}
.navigation .btnLogin-popup:hover{
    background: rgb(119, 218, 250);
    color: #162938;
}
.wrapper .center-align .A{
    background: silver;
    font-size: 30px;
    
    width: 600px;
    height: 50px;
    border: 2px solid black;
    background: rgb(119, 218, 250);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: black;

}
.wrapper .center-align .A:hover{
    background: rgb(4, 175, 231);
    color:black;
    
}
.wrapper .center-align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}