<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Health-Nators | Contact Us</title>

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medilife-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                           <p>Welcome to <span>Medical Diagnosis, Health-Nators</span> </p>
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <h3>Health-Nators</h3>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                   
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Contact Us</h3>
                                          </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <section id="contact" class="contact">
    <div class="wrapper">
      <div class="container">

        <div class="contact-content">
          <div class="column left">
            <section id="contact-us-loc" class="contact-body">
              <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLScCGs-5Sk6WzgHMS4gwRgavNjM2jHugSLDWOPtQCkc5peyTiQ/viewform?embedded=true"
                width="100%" height="843" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </section>
            </div>
            <h2>Health-Nators</h2>
            <p>We would like to thank my teacher (Prof. Umesh Sangule) in particular who has offered me the chance to do this great Medical Diagnosis A Machine Learning Based Web Application project, which has also helped me to do a lot of research, and I've learned so many new things I'd really like to thank you. She took pain to pass through the document and made necessary changes as and when necessary and to carefully guide and correct several of my documents.
                Secondly, I'd like to thank my parents and friends who have greatly contributed to the completion of this project within a short period of time. We also want to thank our institution and the members of our faculty for the remote reality of this project. Thanks also to our family and friends, we extend our heartfelt thanks.</p>
                                            
          
            </div>
          </div>
        </div>
  </section>

   

  
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/static/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="/static/js/map-active.js"></script>

</body>

</html>
